server:
    port: 8080

service:
    name: {{ .Name }}
    version: 1.0.0
    project: {{ .Name }}

env: development

{{- if .Database }}
database:
    enable: {{ .Database }}
    host: host.docker.internal
    port: 5432
    user: postgres
    password: postgres
    dbname: postgres
    sslmode: disable
    type: postgresql
{{- end }}

{{- if .Cache }}
cache:
    enable: {{ .Cache }}
    type: redis
    addrs: host.docker.internal:6379
    user:
    password:
{{- end }}

{{- if .Messaging }}
messaging:
    enable: {{ .Messaging }}
    type: nats
    url: nats://host.docker.internal:4222
    user:
    password:
{{- end }}

modules:
{{- range .Modules }}
    - id: {{ . }}
      enable: true
{{- end }}

{{- if .Observability }}
observability:
    tracing:
        enable: {{ .Observability }}
        type: tempo
        endpoint: host.docker.internal:4317
{{- end }}
